/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Space+Mono&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
    font-family: 'Roboto Mono', monospace;
    }
    


.card-container {
    width: 700px;
    height: 400px;
    border: 1px solid black;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    width: 100px;
    height: 100px;
}

.card-bar {
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    width: 500px;
    margin-left: 149px;
    margin-right: auto;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-bar p {
    margin: 0;
}

.card-text-date {
    margin-top: -104px;
    margin-left: 344px;
}

.lower-container {
    padding: 10px;
}

.lower-container .row {
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.lower-container .col {
    flex: 1;
}

.row {
    margin-left: -107px;
    margin-right: -147px;
}

.col-1 {
    margin-top: -55px;
    margin-left: 115px;
}

.card-text {
    margin-top: -2px;
}

img {
    margin-top: 30px;
    margin-left: 30px;
}

.form-container {
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid black;
}

.form-inline {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

#githubForm {
    background-color: white;
}

.custom-btn {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
     
}

.custom-btn:hover {
    background-color: #5fabff;  
}

.container.card-bar {
    background-color: #f8f9fa;
}

.form-inline.rounded {
    background-color: #f8f9fa;
}

#searchBar {
    margin-left: 30px;
    border: 1px solid white;
}

.lupa {
    margin-left: 25px;
}
